.divstud
{
    opacity: 0.2;
    z-index: -1;
}
.findInput
{
    position:relative;
    top:25px;
    width:70%;
    left:11%;
    margin:2%;
    outline:none;
    height:30px;
    border:3px solid rgba(128, 128, 128, 0.644);
    border-radius:10px;
    box-shadow:2px 4px 2px rgba(173, 216, 230, 0.877);
padding:2px;
}
.findInput:focus{
    box-shadow:5px 5px 20px rgba(138, 209, 233, 0.822);
}